Encoder-Proto/build/    
Encoder-MsgPack/build/    
.vscode
Decoder-Proto/__pycache__
Decoder-MsgPack/__pycache__
DLTS/
Decoder-Proto/venv
Decoder-MsgPack/venv
JsonViewer-Proto/venv
JsonViewer-MsgPack/venv